#projetos {
  background: #444;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 5rem;
  overflow-x: hidden;

  @media (min-width: 200px) and (max-width: 459px) {
    padding: 5rem 2rem;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 10px;

//   @media (min-width: 200px) and (max-width: 459px) {
//     grid-template-columns: 1fr;
//   }

//   @media (min-width: 460px) and (max-width: 759px) {
//     grid-template-columns: 1fr;
//   }

//   @media (min-width: 760px) and (max-width: 999px) {
//     grid-template-columns: 1fr 1fr;
//   }
}

.card {
    display:flex;
  padding: 1.2rem;
  width: 50%;
  border-radius: 20px;
  background: #212121;
//   box-shadow: 1px 1px 10px 5px #1b1b1b;
  transition: 0.4s;
}

.card-description {
    width: 60%;
    padding: 1rem;
    text-align: left;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #00d9ff;
  margin: 15px 0 0 0px;
}

.card-image {
  width: 50%;
  border-radius: 1rem;
  background: #313131;
  border: 1px solid red;
//   box-shadow: inset 5px 5px 3px #2f2f2f, inset -5px -5px 3px #333333;

  img {
    width: 50%;
    // object-fit: cover;
    border-radius: 1rem;
  }
}

.card-body {
  margin: 13px 0 0 0;
  color: rgba(0, 255, 255, 0.4);
  font-size: 15px;
}

.btns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  z-index: 2;

  @media (min-width: 200px) and (max-width: 459px) {
    display: flex;
    gap: 1rem;
  }
}

.btn-github {
  border: 1px solid #515151;
  padding: 0.6rem 1.3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  background-color: #212121;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  svg {
    font-size: 2rem;
    color: #fff;
    transition: 0.3s ease-in-out;
  }

  a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
  }

  &:hover {
    border: 1px solid #00d9ff;
    box-shadow: 1px 1px 10px 5px #00d9ff;
    svg {
      color: #00d9ff;
    }
    a {
      color: #00d9ff;
    }
  }

  @media (min-width: 200px) and (max-width: 459px) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.6rem 1.2rem;

    a {
      font-size: 1rem;
    }
  }
}

.btn-page {
  border: 1px solid #515151;
  padding: 0.6rem 1.8rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  background-color: #212121;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  svg {
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    color: #e5e5e5;
  }

  a {
    text-decoration: none;
    color: #e5e5e5;
    transition: 0.3s ease-in-out;
    font-size: 1.1rem;
  }

  &:hover {
    border: 1px solid #00d9ff;
    box-shadow: 1px 1px 10px 5px #00d9ff;

    svg {
      color: #00d9ff;
    }
    a {
      color: #00d9ff;
    }
  }

  @media (min-width: 200px) and (max-width: 459px) {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0.6rem 2rem;

    a {
      font-size: 1.2rem;
    }
  }
}